.paddle {
  width: 100px;
  height: 25px;
  background-color: white;
  border-radius: 4px;

  /* Positioning */
  position: absolute;
  bottom: 20px;
  /* left: 50%; */
  /* transform: translateX(-50%); */
}


.paddle.player2 {
  background-color: salmon;
  position: absolute;
  left: 100%;
  bottom: 0%;
  transform: translateX(-100%);
}